<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create a User</h5>
          <form>
            <div class="form-group">
              <label for="firstname">First name</label>
              <input type="text" class="form-control"
                     id="firstname" aria-describedby="emailHelp"
                     placeholder="Enter your first name">
            </div>
            <div class="form-group">
              <label for="lastname">Last name</label>
              <input type="text" class="form-control"
                     id="lastname" aria-describedby="emailHelp"
                     placeholder="Enter your last name">
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="email" class="form-control"
                     id="age" aria-describedby="emailHelp"
                     placeholder="Enter you age">
            </div>
            <div class="form-group">
              <label for="sex">Email address</label>
              <select type="email" class="form-control"
                     id="sex" aria-describedby="emailHelp">
                <option>Male</option>
                <option>Female</option>
                <option>Shemale</option>
              </select>
            </div>
          </form>
          <button class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>
