<div class="flex-wrap">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">ANGULAR IN FEW HOURS</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" routerLink="./greating" routerLinkActive="btn btn-primary">Main</a>
      <a class="p-2 text-dark" routerLink="./workspace" routerLinkActive="btn btn-primary">WorkSpace</a>
      <a class="p-2 text-capitalize" routerLink="./create" routerLinkActive="btn btn-primary">Sign up</a>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>

